{% load static %}

<link rel="icon" href="{% static 'assets/img/favicon.png' %}" sizes="32x32" />
<link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/fontawesome-pro/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/form.css' %}?v={% now 'U' %}">
<link rel="stylesheet" href="{% static 'assets/css/config.css' %}?v={% now 'U' %}">
<link rel="stylesheet" href="{% static 'assets/css/auth-layout.css' %}?v={% now 'U' %}">