{% extends '../layout/default.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="card card-primary card-outline">
<div class="content-wrapper">
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{title}}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/home-admin">Home</a></li>
            <li class="breadcrumb-item active">{{title}}</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <div class="card card-primary">
              <div class="card-header">
                <h2 class="card-title"><b>{{title}}</b></h2>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form method="post">
                {% csrf_token %}
                {{ form }}

                {% comment %} <div class="card-body">
                  {{form.non_field_errors}}
                  <div class="form-group">
                    <label for="id_alias_category">Alias Category</label>
                    {{form.alias_category.errors}}
                    {{form.alias_category|add_class:"form-control"}}
                  </div>

                  <div class="form-group">
                    <label for='id_name'>Name</label>
                    {{form.alias_category.errors}}
                    {{form.name|add_class:"form-control form-default"}}
                  </div>

                  <div class="form-group">
                    <label for="id_active"> Active </label>
                    {{form.active}}
                  </div> 
                  
                </div>
                
                {% if status == 'Success' %} 
                <div class="alert alert-success alert-dismissible">
                  {{noti}}
                </div>
                {% endif %}

                {% if status == 'Failure' %} 
                <div class="alert alert-danger alert-dismissible">
                  {{noti}}
                </div>
                {% endif %} {% endcomment %}
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary float-right mr-3">Save</button>
                  <button type="reset" class="btn btn-primary float-right mr-4 ">Reset</button>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %} 
